@import '../../styles/colors';

.step-container {
  .box {
    min-height: 70vh;

    .container--top {
      display: flex;
      justify-content: space-between;

      button {
        color: $plum;

        &:last-child svg {
          font-size: 14px;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
  }
}
